:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 262px;
}
.home {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.huge-icon-arrows {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    overflow: hidden;
}
.direction-right {
    position: relative;
    width: 4.583px;
    height: 9.583px;
    margin: 5.208px 0 0 7.708px;
    z-index: 3;
    overflow: visible auto;
}
.vector-stroke {
    position: relative;
    width: 4.583px;
    height: 9.583px;
    margin: 0px 0 0 0;
    background: url(./assets/images/6f82a212-eef2-4368-810b-a5888a1286c1.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 4;
}
.shop {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
}
.huge-icon-arrows-1 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 6;
    overflow: hidden;
}
.direction-right-2 {
    position: relative;
    width: 4.583px;
    height: 9.583px;
    margin: 5.208px 0 0 7.708px;
    z-index: 7;
    overflow: visible auto;
}
.vector-stroke-3 {
    position: relative;
    width: 4.583px;
    height: 9.583px;
    margin: 0px 0 0 0;
    background: url(./assets/images/145d54df-5510-4345-a162-753330cc6600.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 8;
}
.apple-iphone-pro {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.rectangle {
    flex-shrink: 0;
    position: relative;
    width: 555px;
    height: 555px;
    background: rgba(165, 169, 172, 0.05);
    z-index: 11;
}
.image {
    position: relative;
    width: 345.804px;
    height: 420px;
    margin: 68px 0 0 105px;
    background: url(./assets/images/3cd24d3e-8ae4-42c3-8c97-8d7ed3cecf7b.png)
    no-repeat center;
    background-size: cover;
    z-index: 58;
}
.apple-iphone-pro-4 {
    flex-shrink: 0;
    position: relative;
    height: 42px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 69px;
    height: 30px;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    background: rgba(60, 209, 57, 0.1);
    border: none;
    z-index: 73;
    border-radius: 4px;
}
.in-stock {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #3cd139;
    font-family: Montserrat, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 74;
}
.frame {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 256px;
    z-index: 44;
}
.frame-5 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 120px;
    z-index: 45;
}
.huge-icon-interface {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 46;
    overflow: hidden;
}
.star {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
    background: url(./assets/images/b01eb31b-701e-48f0-8e29-f03da18b1d60.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 47;
}
.huge-icon-star {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 48;
    overflow: hidden;
}
.star-6 {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
    background: url(./assets/images/45389b3c-52de-43f0-b6da-3c73565bdeb9.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 49;
}
.huge-icon-star-7 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 50;
    overflow: hidden;
}
.star-8 {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
    background: url(./assets/images/a82efb45-aeec-42a6-b86c-6a26357aa51f.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 51;
}
.huge-icon-star-9 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 52;
    overflow: hidden;
}
.star-a {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
    background: url(./assets/images/a681c751-49f0-4be8-8963-c1dc711e6cb8.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 53;
}
.huge-icon-star-b {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 54;
    overflow: hidden;
}
.star-c {
    position: relative;
    width: 20px;
    height: 20px;