:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 420px;
    height: 752px;
    margin: 0 auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 34px;
    height: 34px;
    margin: 0 0 0 386px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    background: #ffffff;
    border: none;
    z-index: 40;
    border-radius: 5px;
}
.huge-icon {
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    z-index: 41;
    overflow: hidden;
}
.remove {
    position: relative;
    width: 7.489px;
    height: 7.489px;
    margin: 5.255px 0 0 5.255px;
    z-index: 42;
}
.union {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    z-index: 43;
}
.order-place-successfully {
    position: relative;
    width: 420px;
    height: 708px;
    margin: 10px 0 0 0;
    background: #ffffff;
    border: 1px solid rgba(165, 169, 172, 0.2);
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 8px 8px 0 rgba(16, 24, 40, 0.02);
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 380px;
    margin: 20px 0 0 20px;
    z-index: 1;
}
.welcomeback-fabiana {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 42px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.welcomeback-fabiana-1 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 30px;
    color: #a4a8ac;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    width: 380px;
    margin: 17px 0 0 20px;
    z-index: 4;
}
.frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 5;
}
.frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 6;
}
.input {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 80px;
    font-size: 0px;
    z-index: 7;
}
.label {
    display: block;
    position: relative;
    height: 20px;
    margin: 2px 0 0 0;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}
.textbox {
    position: relative;
    width: 380px;
    height: 56px;
    margin: 2px 0 0 0;
    border: 1px solid #1c4e8e;
    z-index: 8;
    border-radius: 10px;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 12px;
    right: 15px;
    left: 15px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.input-5 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 80px;
    font-size: 0px;
    z-index: 11;
}
.label-6 {
    display: block;
    position: relative;
    height: 20px;
    margin: 2px 0 0 0;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}
.text-box {
    position: relative;
    width: 380px;
    height: 56px;
    margin: 2px 0 0 0;
    border: 1px solid #1c4e8e;
    z-index: 12;
    border-radius: 10px;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 12px;
    right: 15px;
    left: 15px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}
.input-8 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 80px;
    font-size: 0px;
    z-index: 15;
}
.label-9 {
    display: block;
    position: relative;
    height: 20px;
    margin: 2px 0 0 0;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
}
.text-box-a {
    position: relative;
    width: 380px;
    height: 56px;
    margin: 2px 0 0 0;
    border: 1px solid #1c4e8e;
    z-index: 16;
    border-radius: 10px;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 12px;
    right: 15px;
    left: 15px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
}


.frame-e{
    position: relative;
    width: 312px;
    height: 56px;
    left: 25px;
    background-color: #1c4e8e;
    border-radius: 10px 10px 10px 10px;
}

.button-register{
    color: #ffffff;
    font-family: Montserrat, var(--default-font-family);
}


.or-login-with{
    position: relative;
    left: 100px;
}

.button-13{
    position: relative;
    width: 312px;
    height: 56px;
    left: 45px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;

}

.login-with-google {
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
}

.button-15{
    position: relative;
    width: 312px;
    height: 56px;
    left: 45px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

.login-with-apple{
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
}