:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 352px;
    height: 1024px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 8px 8px 0 rgba(16, 24, 40, 0.02);
}
.mini-cart-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 312px;
    height: 984px;
    margin: 20px 0 0 20px;
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 312px;
    z-index: 1;
}
.cart-items {
    flex-shrink: 0;
    position: relative;
    width: 233px;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 2;
}
.you-have {
    position: relative;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.text-2 {
    position: relative;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.in-your-cart {
    position: relative;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.frame-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 312px;
    z-index: 3;
}
.empty {
    flex-shrink: 0;
    position: relative;
    width: 312px;
    height: 91px;
    z-index: 4;
}
.flex-row {
    position: relative;
    width: 312px;
    height: 72px;
    margin: 0 0 0 0;
    z-index: 10;
}
.group {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 5;
}
.apple-iphone-pro {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.price {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 25px;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}
.quantity {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 48px;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.huge-icon-trash {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 292px;
    z-index: 10;
    overflow: hidden;
}
.vector {
    position: relative;
    width: 16.5px;
    height: 18.167px;
    margin: 0.92px 0 0 1.75px;
    background-size: 100% 100%;
    z-index: 11;
}
.rectangle {
    position: relative;
    width: 312px;
    height: 1px;
    margin: 18px 0 0 0;
    background: rgba(165, 169, 172, 0.2);
    z-index: 6;
}
.wrapper-4 {
    flex-shrink: 0;
    position: relative;
    width: 312px;
    height: 91px;
    z-index: 12;
}
.flex-row-a {
    position: relative;
    width: 312px;
    height: 72px;
    margin: 0 0 0 0;
    z-index: 18;
}
.group-2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 13;
}
.asus-rog-delta-s {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}
.dollar-amount {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 25px;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}
.quantity-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 48px;
    left: 80px;
    color: #0f1216;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}
.trash-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 292px;
    z-index: 18;
    overflow: hidden;
}
.vector-4 {
    position: relative;
    width: 16.5px;
    height: 18.167px;
    margin: 0.92px 0 0 1.75px;
}

.trash-button{
    position: relative;

}

.view-cart{
    position: relative;
    width: 312px;
    height: 56px;
    background-color: #1c4e8e;
    border-radius: 10px 10px 10px 10px;
}

.view-cart-text{
    color: #ffffff;
    font-family: Montserrat, var(--default-font-family);
}

.checkout-button{
    position: relative;
    width: 312px;
    height: 56px;
    background-color: #1c4e8e;
    border-radius: 10px 10px 10px 10px;
}

.checkout-text{
    color: #ffffff;
    font-family: Montserrat, var(--default-font-family);
}